.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix:after {
	content:".";display: block;clear: both;height: 0;overflow: hidden;visibility: hidden;
}
.clearfix {zoom: 1;}

.top-tips {
	background-color: #f3f3f3;
}
.tips-box {
	width: 1205px;
	height: 36px;
	line-height: 36px;
	margin: 0 auto;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #333;
}
.tips-right{
	padding-left: 15px;
	background: url(../img/close.png) no-repeat 0 14px;
	cursor: pointer;
}

.header {
	width: 1205px;
	margin: 0 auto;
}

.header-left {
	width: 388px;
	height: 89px;
	padding-left: 266px;
	background: url(../img/logo.jpg) no-repeat 0 33px;
}

.header-left a{
	display: inline-block;
	box-sizing: border-box;
	width: 54px;
	height: 21px;
	line-height: 21px;
	margin-top: 33px;
	padding-left: 22px;
	color: #fff;
	border-radius: 3px;
	background: url(../img/guanzhu.png) no-repeat 9px 7px #21A557;
}

.header-left span {
	margin-left: 14px;
}

.header-left a:hover{
	text-decoration: none;
}

.header-right>li{
	float: left;
	padding:0 20px;
	font:16px/89px  "微软雅黑";
}

.header-right a{
	color: #333;
}
.header-right a:hover{
	text-decoration: none;
}

.header-right>li:last-child {
	padding-right: 64px;
	background: url(../img/seach.png) no-repeat 168px 34px;
}

.banner {
	position: relative;
	width: 100%;
}

.img {
	transition-duration: .5s;
	width: 100%;
	position: absolute;
	display: block;
	font-size: 0;
	opacity: 0;
}

.banner .img-active{
	opacity: 1;
	z-index: 999;
}

.banner img {width: 100%;}

.banner span {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-30px);
	z-index: 9999;
}

.banner span i{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	margin: 0 5px;
	background: #fff;
	cursor: pointer;
}

.banner .btn-active {
	background: #333;
}

.nav {
	width: 1205px;
	margin: 0 auto;
}

.nav>div {
	box-sizing: border-box;
	width:350px;
	margin-right: 80px;
	float: left;
}
.nav>div:last-child {
	margin-right: -80px;
}

.gkk-left,.ykt-left,.mooc-left {width: 80px;height: 80px;margin-right: 20px;}

.gkk-left {background: url(../img/gkk.png) no-repeat;}
.ykt-left {background: url(../img/ykt.png) no-repeat;}
.mooc-left {background: url(../img/mooc.png) no-repeat;}

.nav>div>div{margin-top: 62px;}

.nav>div>div h2 {font: 22px "微软雅黑";color: #333;margin-bottom: 14px;}
.nav>div>div p{font:14px "微软雅黑";color: #666;width: 244px;margin-bottom: 30px;}
.nav>div>div a{padding-bottom: 60px;}

.workspace {width:100%;margin-top: 56px;margin-bottom: 80px;}

.cont {width: 1205px;margin: 0 auto 120px;}

.cont-nav {box-shadow: 0 2px 1px 1px #ddd;display: inline-block;}
.cont-nav span{display: inline-block;width:200px;height:50px;font: 20px/50px "微软雅黑";text-align: center;color: #000;cursor: pointer;}
.cont-nav .on{background:#39a030;color: #fff;}

.spjs,.hot {
	width: 220px;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}
.spjs>p,.hot>p{font:16px/55px "微软雅黑";padding-left: 20px;border-bottom: 1px solid #ddd;}
.spjs>span{display:block;font: 14px "微软雅黑";padding:20px 0 8px 20px;}
.sp-pic {position: relative;width: 180px;height: 110px;margin: 0px 20px 20px 20px;background: url(../img/shipin.jpg) no-repeat;background-size: cover;cursor: pointer;}
.sp-play{position: absolute;width:48px ;height:48px ;left: 50%;top: 50%;transform: translate(-50%,-50%);background: url(../img/playsplit.png) no-repeat;background-position: -48px;}
.sp-pic:hover .sp-play{background-position: 0px;}
.kcjs {
	width: 982px;
	margin-top: 30px;
}

.hot-list li{
	margin: 20px;
	padding-left: 10px;
	cursor: pointer;
}

.hot-list li:hover>h4{color: #21A557;}

.hot-list h4{
	font:14px "微软雅黑";
	margin-bottom: 10px;
	overflow: hidden;
	padding-left: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.hot-list span{
	margin-left: 10px;
	padding-left: 15px;
	color: #ddd;
	background: url(../img/tx.png) no-repeat;
}

.hot-list img{width: 50px;height: 50px;float: left;}

.cont-left li{
	float: left;
	width: 222px;
	height: 228px;
	margin-right: 22px;
	margin-bottom: 20px;
	box-shadow: 1px 1px 1px #ddd;
	font: 12px "微软雅黑";
	cursor: pointer;
}

.cont-left li:hover>.ms{
	color: #21A557;
}

.cont-left li img{
	width: 100%;
	height: 124px;
}

.cont-left .ms{padding: 9px 9px 9px 5px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.cont-left .zuozhe {color: #999;padding-bottom: 9px;padding-left: 5px;}
.cont-left .people {line-height: 18px;font-size: 9px;border: 1px solid #999;border-radius: 3px;margin-left: 5px;padding-left: 18px;padding-right: 3px;background: url(../img/tx.png) no-repeat 3px 2px;}
.cont-left .price {color: #ff3f00;padding-left: 5px;padding-top: 5px;}

.cont-left .page{
	float: right;
	margin: 18px 24px 0 0;
	font: 20px/30px "微软雅黑";
	color: #666;
	text-align: center;
}

.page span{
	cursor: pointer;
	padding: 0 8px;
}

.page span:hover{background-color: #9dd8b1;color: #fff;}
/*选中状态颜色39a030*/

.footer {
	height: 262px;
	margin-top: 120px;
	background: #2c3339;
	color: #bebfc0;
}

.footer-warp {
	width: 1205px;
	height: 100%;
	margin: 0 auto;
}

.footer-left {width: 470px;padding-left: 50px;padding-top: 142px;background: url(../img/foot-logo.jpg) no-repeat 50px 92px;font: 12px "微软雅黑";}

.footer-left p {
	margin-bottom: 13px;
}

.footer-right {
	height: 100%;
	font: 15px "微软雅黑";
}

.footer-right>ul {
	float: left;
	margin-top: 80px;
	margin-left: 74px;
}

.footer-right>ul .title{
	font: 12.5px "微软雅黑";
	line-height: 30px;
}

.footer-right>ul:last-child {
	padding-right: 200px;
}

.footer-right li{line-height: 30px;}

.footer-right a{color: #bebfc0;}

.zhezhao {position: fixed;top: 0;left: 0;bottom: 0;right: 0;background: #000;opacity: .4;z-index: 9999;}
.sp {width:800px;height:600px;position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);z-index: 10000;background: #000;}


.page>li{float: left;width:auto;padding: 0 10px;height: 20px;margin: 0 5px;font: 12px/20px "微软雅黑";text-align: center;color: #fff;background: #9dd8b1;border: none;box-shadow: none;}
.page>li:hover{color: #39a030;}
.page .page-normal-li{background: none;color: #737373;}
